.sf-container {
  display: flex;
  flex-direction: column;
}

.sf-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#sf-search-results {
  margin-top: 10px;
}

#sf-chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#sf-open-chat {
  background-color: #64943e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 24px;
  cursor: pointer;
}

#sf-chat-popup {
  position: fixed;
  bottom: 110px;
  right: 20px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: none;
  flex-direction: column;
}

#sf-chat-popup.sf-show {
  display: flex;
}

#sf-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #64943e;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#sf-chat-body {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

#sf-search-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

#sf-search-box:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sf-results-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sf-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sf-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.sf-result-item,
.sf-product img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  object-fit: contain;
  border-radius: 5px;
}

.sf-result-item .sf-name {
  font-size: 14px;
  font-weight: bold;
}

.sf-result-item .sf-vendor {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}
